.grid-container {
  min-height: 100vh; 
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap : 20px; 
 padding: 20px;
  background-color: rgb(23, 4, 55);
}


.card {
  height: 120px;
  background: #3e145e;
  color: rgb(244, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  background: #1b60ba;
  transform: scale(1.05);
}


.search-card {
  flex-direction: column;
}

.search-card input {
  padding: 5px;
  margin-bottom: 5px;
  width: 80%;
  background-color: #6e329c;;
}

.search-card button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 15px;
  background-color:#3e145e;
}
body {
  background-color: rgb(14, 5, 33);
  color: rgb(244, 243, 243);
}