.grid-container {
  min-height: 100vh; 
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap : 20px; /* Space between cards */
 padding: 20px;
  background-color: rgb(23, 4, 55);
}

/* Each card */
.card {
  height: 120px;
  background: #330158;
  color: rgb(244, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  background: #334155;
  transform: scale(1.05);
}

/* Search card */
.search-card {
  flex-direction: column;
}

.search-card input {
  padding: 5px;
  margin-bottom: 5px;
  width: 80%;
  background-color: rgb(32, 2, 38);
}

.search-card button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color:rgb(156, 114, 228);
}
body {
  background-color: rgb(23, 4, 55);
}